@model Shwallak.Models.Article

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Readers_Layout.cshtml";
}
<section id="contentSection">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="left_content">
                <div class="single_page">
                    <ol class="breadcrumb">
                        <li><a href="~/Home/Index">Home</a></li>
                        <li><a href="~/Articles/SectionList?section=@Model.Section">@Model.Section</a></li>
                        <li class="active">@Model.Title</li>
                    </ol>
                    <h1>@Model.Title</h1>
                    <div class="post_commentbox">
                        <span><i class="fa fa-user"></i>@Model.Writer.FullName</span>
                        <span><i class="fa fa-calendar"></i>@Model.Day/@Model.Month/@Model.Year</span>
                        <span><i class="fa fa-tags"></i>@Model.Section</span>
                    </div>
                    <div class="single_page_content">
                        @{ string img = "/Content/images/" + Model.Section + "_section1.jpg";}
                        <img class="img-center" src=@img alt="">
                        <p>@Model.Content</p>
                        <form action="~/Comments/Create">
                            <button type="submit" class="btn btn-theme">Add Comment</button>
                        </form>

                    </div>
                    <div class="social_link">
                        <ul class="sociallink_nav">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <aside class="right_content">
                <div class="single_sidebar">
                    <h2><span>Comments</span></h2>
                    <ul class="spost_nav">
                        @if (Model.Comments != null)
                        {
                            foreach (Shwallak.Models.Comment comment in Model.Comments)
                            {
                                <li>
                                    <div class="media wow fadeInDown">
                                        <a href="~/Comments/Details/@comment.CommentID" class="media-left">
                                            <img alt="" src="~/Content/images/Comment.jpg">
                                        </a>
                                        <div class="media-body">
                                            <a href="~/Comments/Details/@comment.CommentID" class="catg_title"> @comment.Content</a>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>

            </aside>
        </div>
    </div>
</section>