@model Shwallak.Models.Article

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Readers_Layout.cshtml";
}
    <section id="contentSection">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="left_content">
                    <div class="single_page">
                        <ol class="breadcrumb">
                            <li><a href="~/Home/Index">Home</a></li>
                            <li><a href="~/Articles/SectionList?section=@Model.Section">@Model.Section</a></li>
                            <li class="active">@Model.Title</li>
                        </ol>
                        <h1>@Model.Title</h1>
                        <div class="post_commentbox">
                            <span><i class="fa fa-user"></i>@Model.Writer.FullName</span>
                            <span><i class="fa fa-calendar"></i>@Model.Day/@Model.Month/@Model.Year</span>
                            <span><i class="fa fa-tags"></i>@Model.Section</span>
                            <span><i class="fa fa-eye"></i>@Model.Watches</span>
                            @if (Model.SubscribersOnly)
                            {
                                <span><i class="fa fa-lock"></i>subscribers only</span>
                            }
                            else
                            {
                                <span><i class="fa fa-lock"></i>public</span>
                            }
                        </div>
                        <div class="single_page_content">
                            @{ string img = "/Content/images/" + Model.Section + "_section1.jpg";}
                            <img class="img-center" src=@img alt="">
                            @{
                                string[] arr = { "\r\n" };
                                string[] paragrapghs = Model.Content.Split(arr, StringSplitOptions.None);
                                foreach (string paragraph in paragrapghs)
                                {
                                    <p>@paragraph</p>
                                }
                            }
                            <form action="~/Comments/Create/@Model.ArticleID">
                                <button type="submit" class="btn btn-theme">Add Comment</button>
                            </form>
                            @if (Session["id"] != null && Session["id"].Equals(Model.WriterID))
                            {
                                <br />
                                <table>
                                    <tr>
                                        <td>

                                            <form action="~/Articles/Edit/@Model.ArticleID">
                                                <button type="submit" class="btn btn-theme">Edit</button>
                                            </form>
                                        </td>
                                        <td>
                                            &nbsp;&nbsp;
                                        </td>
                                        <td>

                                            <form action="~/Articles/Delete/@Model.ArticleID">
                                                <button type="submit" class="btn btn-theme">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                </table>
                            }


                        </div>
                        <div class="social_link">
                            <ul class="sociallink_nav">
                                <li><a href="https://www.facebook.com/ShwallakNews/"><i class="fa fa-facebook"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <aside class="right_content">
                    <div class="single_sidebar">
                        <h2><span>Comments</span></h2>
                        <ul class="spost_nav">
                            @if (Model.Comments != null)
                            {

                                List<Shwallak.Models.Comment> comments = Model.Comments.ToList();
                                comments.Sort(delegate(Shwallak.Models.Comment x, Shwallak.Models.Comment y)
                                {
                                    if (x.Year == y.Year)
                                    {
                                        if (x.Month == y.Month)
                                        {
                                            if (x.Day == y.Day)
                                            {
                                                if (x.Hour == y.Hour)
                                                {
                                                    return y.Minute - x.Minute;
                                                }
                                                else
                                                    return y.Hour - x.Hour;
                                            }
                                            else
                                                return y.Day - x.Day;
                                        }
                                        else
                                            return y.Month - x.Month;
                                    }
                                    else
                                        return y.Year - x.Year;
                                });
                                foreach (Shwallak.Models.Comment comment in comments)
                                {
                                    <li>
                                        <div class="media wow fadeInDown">
                                            <a href="~/Comments/Details/@comment.CommentID" class="media-left">
                                                <img alt="" src="~/Content/images/Comment.jpg">
                                            </a>
                                            <div class="media-body">
                                                <a href="~/Comments/Details/@comment.CommentID" class="catg_title"> <h4>@comment.Author</h4></a>
                                                <br />
                                                <a href="~/Comments/Details/@comment.CommentID" class="catg_title"> @comment.Content</a>
                                                <br />
                                            </div>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                    </div>

                </aside>
            </div>
        </div>
    </section>