@model IEnumerable<Shwallak.Models.Article>

@{
    ViewBag.Title = "Index";
}

<h2>List</h2>

<h4>Article</h4>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Writer.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubscribersOnly)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Section)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Writer.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Month)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubscribersOnly)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Section)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArticleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArticleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArticleID })
        </td>
    </tr>
}

</table>

<p>
    <table>
        <tr>
            <th>
                <form action="~/Articles/Search" method="get">
                    <div class="form-group">
                        <div class="control-label col-md-0">
                            <input type="submit" value="Search" class="btn btn-default" />

                        </div>
                    </div>
                </form>
            </th>
            <th>
                <form action="~/Articles/SortByDate" , method="get">
                    <div class="form-group">
                        <div class="control-label col-md-offset-2">
                            <input type="submit" value="Sort" class="btn btn-default" />

                        </div>
                    </div>
                </form>
            </th>
        </tr>
    </table>

</p>