@model Shwallak.Models.Comment

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Readers_Layout.cshtml";
}

<section id="contentSection">
    <div class="contact_area">
        <h2>Edit Comment</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CommentID)

        <div class="form-group">
            @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
            </div>
        </div>

        <input class="form-control" id="Year" name="Year" type="hidden" value="@Model.Year">
        <input class="form-control" id="Month" name="Month" type="hidden" value="@Model.Month">
        <input class="form-control" id="Day" name="Day" type="hidden" value="@Model.Day">
        <input class="form-control" id="Hour" name="Hour" type="hidden" value="@Model.Hour">
        <input class="form-control" id="Minute" name="Minute" type="hidden" value="@Model.Minute">
        <input class="form-control" id="Second" name="Second" type="hidden" value="@Model.Second">

        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <input class="form-control" id="Watches" name="Watches" type="hidden" value="@Model.Watches">
        <input class="form-control" id="ArticleID" name="ArticleID" type="hidden" value="@Model.ArticleID">

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
        }
         <form action="~/Articles/Details/@Model.ArticleID" class="contact_form">
            <input type="submit" value="cancel" />
        </form>
    </div>
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}

