@model Shwallak.Models.Writer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Readers_Layout.cshtml";
}

<head>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        function showTemperature() {
            var ad = @Html.Raw(Json.Encode(Model.Address));
            var cad = ad.split(",");
            var address = cad[1];
            $.ready(
                $.ajax({
                    method: "GET",
                    url: "https://api.openweathermap.org/data/2.5/weather",
                    data: {
                        appid: '76ee9644e83cc00c0ed59e6932b4be21',
                        q: address,
                        units: "metric"
                    },
                    dataType: 'json',
                    success: function (data) {
                        alert("success");
                        console.log(data);
                        var temp = data["main"]["temp"];
                        var description = data["weather"][0]["description"];
                        var wind = data["wind"]["speed"]; // meters per seconds
                        var lon = data["coord"]["lon"];
                        var lat = data["coord"]["lat"];
                        var hum = data["main"]["humidity"];

                        document.getElementById('lat').innerHTML = "<lable>" + "latitude: " + lat + "</lable>";
                        document.getElementById("lon").innerHTML = "<lable>" + "longtitude: " + lon + "</lable>";
                        document.getElementById("temp").innerHTML = "<lable>" + "temperature: "+ temp + " °C" + "</lable>";
                        document.getElementById("description").innerHTML = "<lable>" + "description: "+ description + "</lable>";
                        document.getElementById("wind").innerHTML = "<lable>" + "wind: " + wind + " mps" + "</lable>";
                        document.getElementById("humidity").innerHTML = "<lable>" + "humidity: " + hum + "</lable>";

                       
                        $(document).ready(function () {
                            $("#weatherDetails").show();
                        });
                    },
                    error: function () {
                        alert("error");
                    }
                }));
        }
        function showLocation() {
            var add = @Html.Raw(Json.Encode(ViewBag.Address));
            var address = add.replace(/\s/g, '');
            var source = "https://maps.google.com/maps?q=";
            var Mapurl = source.concat(address, "&z=15&output=embed");
            alert(Mapurl);
            var map = document.getElementById('map');
            var mapW = '100%';
            var mapH = '300px';
            map.innerHTML = "<iframe src= " + Mapurl + " width = " + mapW + " height = " + mapH + "></iframe>";
            $(document).ready(function () {
                $("#cell1").show();
                $(".map").show();
            });
        }
    </script>
    <style>
        #cell1 {
            float: left;
        }

        #cell2 {
            float: right;
            position: relative;
            left: 50px;
        }

        .center {
            position: absolute;
            width: 500px;
            height: 500px;
            margin-top: auto; /* Half the height */
            margin-left: auto; /* Half the width */
        }
    </style>
</head>

<section id="contentSection">
    <div class="row">
        <div class="contact_area">
            <h2>@Model.FullName - Details</h2>
            <br />
            @ViewBag.number articles uploaded on @Model.FullName hiring hear 
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.FullName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FullName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Age)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Age)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Gender)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Year)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Year)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address)
                    </dd>


                </dl>

                <p>
                    <table>
                        <tr>
                            @if (Session["type"].Equals("writer"))
                            {
                                <td>
                                    <form action="/Writers/Edit/@Model.WriterID" class="contact_form">
                                        <input type="submit" value="Edit">
                                    </form>
                                </td>
                                <td>
                                    &nbsp;  &nbsp;
                                </td>
                                <td>
                                    <form action="/Writers/MyArea/@Model.WriterID" class="contact_form">
                                        <input type="submit" value="Back To My Area">
                                    </form>
                                </td>
                                <td>
                                    &nbsp;  &nbsp;
                                </td>
                                <td>
                                    <form action="/Writers/ChangePassword/@Model.WriterID" class="contact_form">
                                        <input type="submit" value="ChangePassword">
                                    </form>
                                </td>
                            }
                            else if (Session["type"].Equals("admin"))
                            {
                                <td>
                                    <form action="~/Writers/Delete/@Model.WriterID" class="contact_form">
                                        <input type="submit" value="Delete">
                                    </form>
                                </td>
                                <td>&nbsp; &nbsp;</td>
                                <td>
                                    <form action="~/Writers/Index" class="contact_form">
                                        <input type="submit" value="Back To Writers">
                                    </form>
                                </td>

                            }
                            <td>&nbsp;  &nbsp;</td>
                            <td>
                                <button onclick="showLocation()" type="submit" class="btn btn-theme">Show Map</button>

                            </td>
                            <td>&nbsp; &nbsp;</td>
                            <td>
                                <button onclick="showTemperature()" type="submit" class="btn btn-theme">Show Weather Data</button>

                            </td>
                        </tr>
                    </table>
                </p>
                <br />
                <table>
                    <td id="cell1">
                        <h4  id="title" class="map" hidden="hidden">Map:</h4>
                        <div id="map"></div>
                    </td>
                    <td id="cell2">
                        <div id="weatherDetails" hidden="hidden">
                            <p>
                                <h4 id="title">Weather Data:</h4>
                            </p>
                            <p>
                                <table>
                                    <tr>
                                        <td>
                                            <h5 id="lat"></h5>
                                            <h5 id="lon"></h5>
                                            <h5 id="temp"></h5>
                                            <h5 id="description"></h5>
                                            <h5 id="wind"></h5>
                                            <h5 id="humidity"></h5>


                                        </td>
                                    </tr>
                                </table>
                            </p>
                          
                        </div>
                </table>
            </div>
        </div>
    </div>
</section>