@model Shwallak.Models.Writer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Readers_Layout.cshtml";
}

<section  id="contentSection">
    <div class="row">
        <div class="contact_area">
            <h2>@Model.FullName - Details</h2>

            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.FullName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FullName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Gender)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Year)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Year)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Password)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Password)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Age)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Age)
                    </dd>

                </dl>
            </div>
            <p>
            <p>
                @if (Session["type"].Equals("writer"))
                {
                    <a href="/Writers/Edit/@Model.WriterID">Edit</a>
                    <a href="/Writers/MyArea/@Model.WriterID">Back to My Area</a>
                }
                else if (Session["type"].Equals("admin"))
                {
                    <a href="/Writers/Delete/@Model.WriterID">Delete</a>
                    <b> |</b>
                    <a href="/Writers/Index">Back to Writers</a>
                }

            </p>
            </p>
        </div>
    </div>
</section>