@model IEnumerable<Shwallak.Models.Writer>

@{
    ViewBag.Title = "Index";
}

<h2>List</h2>

<h4>Writer</h4>

<head>
    <script type="text/javascript">
        function genderModes() {
            var mode = document.getElementsByName("sortBy")[2];
            if (mode.checked) {
                var male = document.getElementsByName("gender")[0];
                var titleMale = document.getElementById("maleTitle");
                titleMale.style.display = 'inline';
                male.style.display = 'inline';
                var female = document.getElementsByName("gender")[1];
                var titleFemale = document.getElementById("femaleTitle");
                titleFemale.style.display = 'inline';
                female.style.display = 'inline';
            }
            else {
                var male = document.getElementsByName("gender")[0];
                var titleMale = document.getElementById("maleTitle");
                titleMale.style.display = 'none';
                male.style.display = 'none';
                var female = document.getElementsByName("gender")[1];
                var titleFemale = document.getElementById("femaleTitle");
                titleFemale.style.display = 'none';
                female.style.display = 'none';
            }
        }
    </script>
</head>


<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WriterID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WriterID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WriterID })
        </td>
    </tr>
}

</table>

<p>
    <table>
        <tr>
            <th>
                <form action="~/Writers/Search" method="get">
                    <div class="form-group">
                        <div class="control-label col-md-0">
                            <input type="submit" value="Search" class="btn btn-default" />
                            <br />
                        </div>
                    </div>
                </form>
            </th>
            <th>
                <form action="/Writers/Sort" method="get">
                    <div class="form-group">
                        <div class="control-label col-md-0">
                            <input type="submit" value="Sort" class="btn btn-default" />
                        </div>
                            Fullname: <input type="radio" name="sortBy" value="fullname" checked="checked" onclick="genderModes()" />
                            <br />
                            Year: <input type="radio" name="sortBy" value="year" onclick="genderModes()" />
                            <br />
                            Gender:<input type="radio" name="sortBy" value="gender" onclick="genderModes()" />
                            <label id="maleTitle" hidden="hidden">male first: </label><input type="radio" name="gender" value="1" hidden="hidden" />
                            <label id="femaleTitle" hidden="hidden">female first: </label><input type="radio" name="gender" value="2" hidden="hidden" />
                            <br />    
                    </div>
                </form>
            </th>
        </tr>
    </table>
</p>
