@model IEnumerable<Shwallak.Models.Writer>

@{
    ViewBag.Title = "Results";
}

<h2>Results</h2>

<h4>Writer</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WriterID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WriterID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WriterID })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>