@model Shwallak.Models.Subscriber

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Readers_Layout.cshtml";
}

<section id="contentSection">
    <div class="row">
        <div class="contact_area">
            <h2>@Model.Nickname - Details</h2>
           

            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Nickname)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nickname)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Age)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Age)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Gender)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                </dl>
            </div>
            <p>
                <table>
                    <tr>
                        @if (Session["type"].Equals("subscriber"))
                        {
                            <td>
                                <form action="/Subscribers/Edit/@Model.SubscriberID" class="contact_form">
                                    <input type="submit" value="Edit">
                                </form>
                            </td>
                            <td>
                                &nbsp;  &nbsp;
                            </td>
                            <td>
                                <form action="/Subscribers/ChangePassword/@Model.SubscriberID" class="contact_form">
                                    <input type="submit" value="Change Password">
                                </form>
                            </td>
                            <td>
                                &nbsp;  &nbsp;
                            </td>
                            <td>
                                <form action="~/Home/Index" class="contact_form">
                                    <input type="submit" value="Back">
                                </form>
                            </td>
                        }
                        else if (Session["type"].Equals("admin"))
                        {
                            <td>
                                <form action="~/Subscribers/Delete/@Model.SubscriberID" class="contact_form">
                                    <input type="submit" value="Delete">
                                </form>
                            </td>
                            <td>
                                &nbsp;  &nbsp; &nbsp;
                            </td>
                            <td>
                                <form action="~/Subscribers/Index" class="contact_form">
                                    <input type="submit" value="Back To Subscribers">
                                </form>
                            </td>
                        }
                    </tr>
                </table>
            </p>
        </div>
    </div>
</section>